@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes twinkle {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 0.4; }
  }

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 25s linear infinite;
}


.bg-grid-pattern {
  background-image:
    linear-gradient(135deg, #000000, #111111),
    repeating-linear-gradient(
      0deg,
      rgba(255,255,255,0.05) 1px,
      transparent 1px 50px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255,255,255,0.05) 1px,
      transparent 1px 50px
    );
  background-size:
    auto,
    50px 50px,
    50px 50px;
}
